.Showimage{
    width: 100%;
    max-width: 100%;
    float: right;
}
.bg-black{
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
}
.rounded-md{
    border-radius: 0.375rem;
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgba(217,217,227,var(--tw-text-opacity));
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.font-sans {
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.py-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.note{
    color: red;
}