.site_information-head ul {
    float: right;
    width: 95%;
    padding: 21px 0;
}
.site_information-head {
    float: right;
    width: 66.66%;
}

.site_information-head ul {
    list-style: none;
}
.site_information-head ul li .nav-link-head{
    float: right;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 300;
}


